html, body {
    margin: 0;
    height: 100%;

}

.panel {
    width: 100%;
    height: 100%;
    display: block;
}

.contenedor {
    background-image: url(/iniciar_sesion/imagenes/PORTADA.jpg);
    background-position:center center ;
    background-size: cover;
    background-attachment: fixed;


    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    
}

.triangle {
    background-color: white;
    width: 100%; 
    height: 100%;
    clip-path: polygon(101% -5%, 0% 50%, 101% 105%);
    opacity: 0.9;
}

.box-blanco {
    background-color: white;
    opacity: 0.9;
}