.panel{
    background-color: #0F5FA9;
    margin: 50px;
    padding: 1px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-radius: 10px;
    
    
}

.block1{

    margin: 8px 0px 5px 5px;
    padding: 50px;
    background-image: url("https://user-images.githubusercontent.com/88638634/158725380-a4d21072-643f-44df-95f8-b62336251f1a.jpg");
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    

}
.block2{

    background-color: white;
    padding: 50px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    margin: 8px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.logoite{

    background-color: white;
    text-align: center;
    padding: 18px;
    border-radius: 360px;
    margin-bottom: 150px;
    border: 2px solid black;
    box-shadow: 0px 3px 3px 0px rgb(2, 2, 2);
    
}

/*Imagen del ite*/
.block1, .img{
    
    border-radius: 8px;
}

label,button{
    display: flex;
}

.forms{

    display: flex;
    flex-direction: column;
}

#boton-iniciar{

    background-color: white;
    padding: 10px;
    border: solid 2px black;
    border-radius: 69px;

}
.label{

    display: flex;
    border-radius: 69px;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 5px;
    background-color: #0F5FA9;
    color: white;
    border: solid 1px white;
    box-shadow: 0.5px 1.2px 0px 0.7px rgb(102, 102, 102);
    outline: none;
    font-size: 20px;
    font-style: normal;
    text-shadow: 0.5px 1.2px 0px 0.7px rgb(12, 12, 12);
    width: 230px;
    height: 35px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 800; 

    /* Al darle clic 
    box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
    */
    
}

.label:hover, .labe:focus{

    box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;
    border: blue;

}


::placeholder{
    
    text-align: center;
    color: rgb(177, 175, 172);
    
}

.este{

    box-shadow: 10px 10px 10px;
}
.botonprueba{

    display: flex;
    background-color: #0F5FA9;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;

}






