.prueba{


    position: relative;
    z-index: 5;
    height: 250px;
    width: 300px;
    color: #FFF;
    font-size: 400%;
    padding: 20px;
}
h1{
    color: black;
}

.prueba::before{

    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue;
    opacity: 20%;
}